body {
  margin: 0px;
  background-image: url("Valge.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-right: 105px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/*
  DIGITAALNE
*/

#clockContainer{
  background-color: #FFFFFF;
  font-family: sans-serif;
  font-size: 45px;
  display: initial;
}

#dayContainer{
  font-size: 25px;
  background-color: #FFFFFF;
  display: initial;
}

button {
  background: #FFFFFF;
  color: black;
  border: 2px solid #000000;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 11px;
}

.buttonid  {
  margin-left: 25%;
}

/*
  ANALOOG
*/

#analoog{
  display: none;
}

.clock {
  border-radius: 50%;
  background: #fff url(ios_clock.svg) no-repeat center;
  background-size: 88%;
  height: 20em;
  position: relative;
  width: 20em;
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}

.minutes-container {
  animation: rotate 3600s infinite steps(60);
}

.seconds-container {
  animation: rotate 60s infinite steps(60);
}

footer {
  padding-top: 33%;
  font-size: 15px;
  color: #3a3a3a;
  font-family: monospace;
  display: block;
}
